# Pattern 1: Simple Number Triangle Pattern

Pattern:

1  

2 2  

3 3 3  

4 4 4 4  

5 5 5 5 5

In [13]:
num = 5

for row in range(1,num + 1):
    for column in range( row):
        print(row,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Pattern 2: Inverted Pyramid of Numbers

Pattern:

1 1 1 1 1 

2 2 2 2 

3 3 3 

4 4 

5

In [29]:
num = 5
a = 0
for row in range(num,0,-1):
    a += 1
    for column in range(1,row+1):
        print(a,end=" ")
    print(" ")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

# Pattern 3: Half Pyramid Pattern of Numbers
Pattern:

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [23]:
num = 5

for row in range(1,num+1):
    for column in range(1,row+1):
        print(column,end=" ")
    print(" ")
    # print('\n')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Pattern 4: Inverted Pyramid of Descending Numbers
Pattern:

5 5 5 5 5 

4 4 4 4 

3 3 3 

2 2 

1

In [24]:
num = 5
a = 0
for row in range(num,0,-1):
    a += 1
    for column in range(1, row+1):
        print(row,end=" ")
    print(' ')

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# Pattern 5: Inverted Pyramid of the Same Digit

Pattern:

5 5 5 5 5 

5 5 5 5 

5 5 5 

5 5 

5

In [30]:
num = 5
a  = 0
for row in range(num,0,-1):
    for column in range(1, row+1):
        print(num,end=" ")
    print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# Pattern 6: Reverse Pyramid of Numbers

Pattern:

1 

2 1 

3 2 1 

4 3 2 1 

5 4 3 2 1

In [32]:
num = 5

for row in range(1,num+1):
    for column in range(row,0,-1):
        print(column,end =" ")
    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# Pattern 7: Inverted Half Pyramid Number Pattern

Pattern:

0 1 2 3 4 5 

0 1 2 3 4 

0 1 2 3 

0 1 2 

0 1

In [39]:
num = 5

for row in range(num,0,-1):
    
    for column in range(0,row+1):
        print(column,end =" ")
    print(" ")

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# Pattern 8: Pyramid of Natural Numbers Less Than 10

Pattern:

1 

2 3 4 

5 6 7 8 9

# Pattern 9: Printing Alphabets triangle

Pattern:

A

B C

C D E

D E F G

E F G H I

In [3]:
num = int(input("Enter the number of Rows: "))

for row in range(num):
    k = ord("A")+ row
    for column in range(row+1):
        
        print(chr(k),end =" ")
        k = k+1
    print()

Enter the number of Rows: 5
A
B C
C D E
D E F G
E F G H I

# Pattern 10: Printing Alphabets Triangle

Pattern

A 
B C 
D E F 
G H I J 
K L M N O

In [4]:
num = int(input("Enter the number of Rows: "))
k = ord("A")
for row in range(num):

    for column in range(row+1):
        
        print(chr(k),end =" ")
        k = k+1
    print()

Enter the number of Rows: 5
A
B C
D E F
G H I J
K L M N O